<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Journal-iOS-resources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Journal-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Journal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E661505218AA862300D37984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E661507618AA862300D37984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66A0D6918AE5EF0003FD266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66A0D7618AE5EF0003FD266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66A0DE218AE6360003FD266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
